* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.line {
    margin-top: 10px;
    width: 729px;
    height: 1px;
    border-bottom: 1px solid black;
}
.type_ua .line {
    width: 745px;
}

.table-tiem {
    width: 729px;
    margin: 30px 0;
    position: relative;
    font-size: 75px;
    line-height: 75px;
    font-weight: 600;
    text-shadow: #bbb 3px 3px 0px;
    color: blue;
    margin-top: 30px;
    border-bottom: 1px solid black;
}

.type_ua .table-tiem {
    width: 745px;
}
.type_en .table-tiem {
    height: 299px;
}
.type_ua .table-tiem {
    /* height: 356px; */
    height: 388px;
    /* padding-bottom: 32px; /*(388px-356px) */
    padding-top: 16px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
}
.type_ua.img .table-tiem {
    background-image: url('../from_msword/image_type_ua.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}
.type_ua:not(.img) .bacground_ua {
    position: absolute;
    border:2px solid blue;
    height: 352px;
    width: 741px;
    background-color: transparent;
    margin-top: -416px;
    left: 2px;
    border-radius: 60px;
    padding: 2px
}
.type_ua:not(.img) .bacground_ua>div {
    border: 2px solid blue;
    height: 100%;
    border-radius: 58px;
}


.type_en .table-tiem>div {
    position: absolute;
    width: 689px;
    left: 20px;
    text-align: center;
    white-space: nowrap;
}
.type_en .table-tiem>div:nth-child(1) {
    top: 34px;
}
.type_en .table-tiem>div:nth-child(2) {
    top:156px;
}
.type_ua .table-tiem img {
    position: absolute;
    top: 0;
    z-index: -1;
}
.type_en .table-tiem>div>span:nth-child(1) {
    text-transform: capitalize;
}
.type_en .table-tiem>div>span:nth-child(2) {
    text-transform: uppercase;
}
.type_ua .table-tiem>div:nth-child(1)>span {
    text-transform: uppercase;
}
.type_ua .table-tiem>div:nth-child(2)>span {
    text-transform: capitalize;
}
.type_ua .table-tiem>div:nth-child(3)>span {
    text-transform: capitalize;
}
body:not(.img) .table-tiem img {
    display: none;
}
.type_en .table-tiem .item-background1 {
    position: absolute;
    border: 2px solid blue;
    border-radius: 45px;
    width: 725px;
    height: 264px;
    top: 2px;
    left: 2px;
}
.type_en .table-tiem .item-background2 {
    position: absolute;
    border: 2px solid blue;
    border-radius: 43px;
    width: 719px;
    height: 258px;
    top: 5px;
    left: 5px;
}
.type_en .table-tiem .item-background3 {
    position: absolute;
    background-color: blue;
    border: 2px solid blue;
    width: 667px;
    height: 4px;
    top: 137px;
    left: 27px;
}

body.type_en.img .item-background1,
body.type_en.img .item-background2,
body.type_en.img .item-background3 {
    display: none;
}



#person-list, #person-list-translate {
    display: block;
    position: fixed;
    left: 800px;
    top: 0;
    overflow-y: scroll;
    width: calc( (100% - 729px) / 2 );
    height: 100vh;
    resize: none;
    font-size: 24px;
    padding: 10px;
}
#person-list-translate {
    left: calc( 800px + (100% - 800px) / 2  )
}

.control {
    position: fixed;
    top:0;
    left: 0;
    background-color:#ddd;
    width: 800px;
    height: 40px;
    z-index: 9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.control>button {
    font-size: 24px;
}

#btn_name_reverse {
    position: fixed;
    width: 100px;
    top: 0;
    left: calc( 700px + (100% - 800px) / 2 );
    z-index: 9;
}
#btn_git {
    position: fixed;
    width: 100px;
    top: 0;
    right: 0;
    z-index: 9;
} 

@media screen {
    #person-table-conatiner {
        margin-top: 60px;
    }        
}

.page-break {
    page-break-after: always;
    width: 729px;
    height: 10px;
    background-color: pink;
}

.type_ua .page-break {
    width: 745px;
}

.font-buttons {
    position: absolute;
    left: 20px;
    width: 700px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 3;
    /* outline: 1px solid red; */
}
.font-buttons>button {
    width: 100px;
    height: 100px;
    display: none;
    font-size: 72px;
    background-color: rgba(0,0,0,.2);
    border-width: 0;
    border-radius: 50px;
    color: red; 
}
.font-buttons>button:hover {
    background-color: rgba(0,0,0,.3);
}
.font-buttons:hover>button {
    display: block;
}

@media print {
    .no-print,
    .font-buttons,
    .font-buttons * {
        display: none;
    }
    .page-break {
        background-color: transparent;
    }
}

#scroll {
    position: fixed;
    background-color: gray;
    /* background-color: transparent; */
    top: 0vh;
    left: 795px;
    height: 0vh;
    width: 2px;
    border-radius: 2px;
    z-index: 10;  
}

